.formControl {

}

.formControl.error input,
.formControl.error textarea {
    border: solid 1px red;
}

.formControl.error span {
    color: red;
}

.form-summary-error {
    padding: 5px;
    color: red;
    border: solid 1px red;
}